<template>
  <div>
    <v-row>
      <ShoppingCart />
      <div id="nav" class="text-h5">
        <router-link to="/">Home</router-link>
        <router-link to="/order">Order</router-link>
      </div>
    </v-row>
  </div>
</template>

<script>
import ShoppingCart from "../ShoppingCart";
export default {
  name: "Header",
  components: {
    ShoppingCart,
  },
};
</script>

<style>
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: var(--v-white-base);
  text-decoration: none;
  padding-right: 20px;
}

#nav a.router-link-exact-active {
  text-decoration: underline;
}
</style>