<template>
  <div class="home">
    <PricePageTitle />
    <PriceTable />
  </div>
</template>

<script>
// @ is an alias to /src
import PriceTable from "../components/PriceTable";
import PricePageTitle from "../components/PricePageTitle";

export default {
  name: "Home",
  components: {
    PriceTable,
    PricePageTitle,
  },
};
</script>
