<template>
  <div>
    <v-row>
      <div v-for="product in allProducts" :key="product.id">
        <ProductCard v-bind:product="product" />
      </div>
    </v-row>
  </div>
</template>

<script>
import ProductCard from "../components/ProductCard";
import { mapGetters, mapActions } from "vuex";
export default {
  name: "Oder",
  components: {
    ProductCard,
  },
  methods: {
    ...mapActions(["fetchProductDetails"]),
  },
  computed: mapGetters(["allProducts"]),
  created() {
    this.fetchProductDetails();
  },
};
</script>

<style>
</style>