<template>
    <div>
        <v-data-table
            :headers="headers"
            :items="allUnitPrices"
            :items-per-page="5"
            class="elevation-1">
        <template v-slot:item.price="{ item }">
            <v-chip :color="getColor(item.cartonPrice)" dark>{{ item.price }}.00 /=</v-chip>
        </template>
        </v-data-table>
    </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
export default {
    name: 'PriceTable',
    data () {
      return {
        headers: [
          {
            text: 'Items',
            align: 'start',
            sortable: false,
            value: 'unitNumber',
          },
          { text: 'Price', value: 'price' },
        ]
      }
    },
    methods:{
        ...mapActions(['fetchUnitPrices','fetchProductDetails']),
        getColor(cartonPrice){
            if(cartonPrice) return 'info'
            else return 'red accent-1'
        }
    },
    computed: mapGetters(['allUnitPrices','allProducts']),
    created(){
        this.fetchUnitPrices(1)
        this.fetchProductDetails()
    }
}
</script>

<style>

</style>