<template>
  <div>
    <v-row no-gutters>
      <v-col cols="12" sm="4">
        <v-select
          :items="allProducts"
          label="Select a product"
          item-value="id"
          item-text="name"
          prepend-icon="mdi-food-variant"
          v-model="selected"
          @change="onSelect"
        ></v-select>
      </v-col>
      <div class="text-center">
        <v-chip class="ma-2" color="white" label text-color="primary">
          <v-icon small left>mdi-checkbox-blank-circle</v-icon>Carton price
        </v-chip>

        <v-chip class="ma-2" color="white" label text-color="error">
          <v-icon small left>mdi-checkbox-blank-circle</v-icon>Single unit price
        </v-chip>
      </div>
    </v-row>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "PricePageTitle",
  data: () => {
    return {
      selected: {
        id: 1,
      },
    };
  },
  computed: mapGetters(["allProducts"]),
  methods: {
    ...mapActions(["fetchUnitPrices"]),
    onSelect(id) {
      this.fetchUnitPrices(id);
    },
  },
};
</script>

<style>
</style>