<template>
  <div class="pa-2">
    <v-card class="mx-auto" max-width="300">
      <v-card-title>{{product.name}}</v-card-title>

      <v-card-text class="text--primary">
        <div>Carton price - {{product.cartonPrice}}</div>
        <v-divider></v-divider>
        <div>Units per carton - {{product.unitsPerCarton}}</div>
        <v-divider></v-divider>
      </v-card-text>
      <v-card-actions>
        <v-dialog v-model="dialog" width="500">
          <template v-slot:activator="{ on, attrs }">
            <v-btn color="primary" v-bind="attrs" v-on="on">Add to cart</v-btn>
          </template>
          <v-card>
            <v-card-title class="text--primary primary">
              <div class="white"></div>Add to cart
            </v-card-title>
            <div id="bottom-container">
              <v-card-text>Type the quantity</v-card-text>

              <v-divider></v-divider>

              <template>
                <v-text-field v-model="item.quantity" :rules="rules"></v-text-field>
              </template>
              <v-divider></v-divider>
            </div>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" @click="addToCart()">Add</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-card-actions>
      <v-snackbar color="primary" v-model="showError">
        Already in the cart
        <template v-slot:action="{ attrs }">
          <v-btn color="white" text v-bind="attrs" @click="showError = false">Close</v-btn>
        </template>
      </v-snackbar>
    </v-card>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "ProductCard",
  props: ["product"],
  data() {
    return {
      dialog: false,
      showError: false,
      rules: [
        (value) => !!value || "Required.",
        (value) => {
          const pattern = /^\d+$/;
          return pattern.test(value) || "Must be a number";
        },
      ],
      item: {
        product: {},
        quantity: "",
      },
    };
  },
  computed: mapGetters(["allItemsInCart"]),
  methods: {
    ...mapActions(["addItemToCart"]),
    addToCart() {
      this.item.product = this.product;
      if (
        this.allItemsInCart.some((item) => {
          return item.product.id === this.product.id;
        })
      ) {
        this.showError = true;
        return;
      }
      this.addItemToCart(this.item);
      this.dialog = false;
    },
  },
};
</script>

<style>
#bottom-container {
  padding: 30px;
}
</style>