<template>
  <div>
    <div class="text-h4">Quotaiton</div>
    <div></div>
    <div v-for="(product, key) in allItemsInQuotation" :key="product.id">
      <div class="text-subtitle-1 text-left">{{ key }}</div>
      <div class="text-subtitle-2 text-right">
        Number of cartons - {{ product.numberOfCartons }}
      </div>
      <div class="text-subtitle-2 text-right">
        Price of cartons - {{ product.priceOfCartons }}
      </div>
      <div class="text-subtitle-2 text-right">
        Price of single units - {{ product.priceOfSingleUnits }}
      </div>
      <div class="text-subtitle-2 text-right">
        Number of single units - {{ product.numberOfSingleUnits }}
      </div>
      <v-divider></v-divider>
      <div class="text-subtitle-1 text-right">Total - {{ product.total }}</div>
      <v-divider></v-divider>
    </div>
    <v-chip class="ma-2" color="white" label text-color="primary">
      <div id="info-font">
        <v-icon x-small left>mdi-checkbox-blank-circle</v-icon>Carton price (10
        % discount)
      </div>
    </v-chip>
    <v-chip class="ma-2" color="white" label text-color="error">
      <div id="info-font">
        <v-icon x-small left>mdi-checkbox-blank-circle</v-icon>Single unit price
        (30 % service charge)
      </div>
    </v-chip>

    <v-divider></v-divider>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "Quotaion",
  computed: mapGetters(["allItemsInQuotation"]),
};
</script>

<style scoped>
#info-font {
  font-size: 12px;
}
</style>
