<template>
  <div>
    <v-container fluid class="pa-0">
      <v-row>
        <v-col cols="12" sm="3">
          <v-card-actions>
            <v-dialog v-model="dialog" width="500">
              <template v-slot:activator="{ on, attrs }">
                <v-btn class="ma-2" color="white" icon v-bind="attrs" large v-on="on">
                  <v-icon dark>mdi-cart</v-icon>
                </v-btn>
              </template>

              <v-card>
                <v-card-title class="white--text Heading 5 primary">Your cart</v-card-title>
                <div id="bottom-container">
                  <div v-if="!allItemsInCart.length">No item in the cart</div>
                  <div v-for="item in allItemsInCart" :key="item.product.id">
                    <v-chip class="ma-2" color="green" text-color="white">
                      <v-avatar left class="green darken-4">{{item.product.id}}</v-avatar>
                      {{item.product.name}} - {{item.quantity}} units
                      <v-icon
                        right
                        small
                        @click="deleteItemFromCart(item.product.id)"
                      >mdi-minus-circle-outline</v-icon>
                    </v-chip>
                    <v-divider></v-divider>
                  </div>

                  <v-divider></v-divider>
                  <Quotation v-if="showQuotation" />
                  <v-divider></v-divider>
                </div>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    :disabled="isCartEmpty()"
                    color="primary"
                    @click="requestQuotaion()"
                  >Request Quotation</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-card-actions>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import Quotation from "./Quotation";
export default {
  name: "ShoppingCart",
  components: {
    Quotation,
  },
  data() {
    return {
      dialog: false,
      showQuotation: false,
    };
  },
  computed: mapGetters(["allItemsInCart"]),
  methods: {
    ...mapActions(["getQuotation", "deleteItemFromCart"]),
    requestQuotaion() {
      this.getQuotation(this.allItemsInCart);
      this.showQuotation = true;
    },
    isCartEmpty() {
      if (
        this.allItemsInCart === undefined ||
        this.allItemsInCart.length == 0
      ) {
        return true;
      } else {
        return false;
      }
    },
  },
};
</script>

<style scoped>
#bottom-container {
  padding: 10px;
}
</style>